<!DOCTYPE html>
<html>
<head>
<title>Welcome to Chef!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
        color: orangered;
    }
</style>
</head>
<body>
<h1 style="font-size:24">Welcome to Chef!</h1>
<h2>Hello from [<%= node['hostname'] %>] 2021/03/26</h2>
<p style="color: black">If you see this page, the nginx web server is successfully updated with chef and
working.</p>

<p><em>Thank you for using Chef!!</em></p>
</body>
</html>